# Config for Dependabot updates. See Documentation here:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Update GitHub actions in workflows
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      github-actions:
        patterns:
          - '*'
    cooldown:
      default-days: 7

  # Enable version updates for Docker
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'monthly'
    # Ignore minor version updates (3.10 -> 3.11) but update patch versions
    ignore:
      - dependency-name: '*'
        update-types:
          - 'version-update:semver-major'
          - 'version-update:semver-minor'
    groups:
      dockerfiles:
        patterns:
          - '*'
    cooldown:
      default-days: 7

  - package-ecosystem: 'uv'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      all-uv-dependencies:
        patterns:
          - '*'
    cooldown:
      default-days: 7
