services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .envs/.local/.postgres
    depends_on:
      - postgres

  postgres:
    build:
      context: .
      dockerfile: compose/production/postgres/Dockerfile
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
      - local_postgres_data_backups:/backups
    env_file:
      - .envs/.local/.postgres
    ports:
      - "5432:5432"

volumes:
  local_postgres_data:
  local_postgres_data_backups:
